{% extends "layout.html.twig" %}

{% block content %}
    <select id="type">
        <option value="-1">Please select your option</option>
        <option value="">All time</option>
        <option value="{{ options['last-week'] }}">Last week</option>
        <option value="{{ options['last-month'] }}">Last month</option>
    </select>
    <a href="/reset-data">Reset data</a>
    <div class="top5-transactions"></div>
    <div class="top5-purchases"></div>
    <div class="totalAmount"></div>

{% endblock %}
