<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Data Loader</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script type="application/javascript">

        function refreshData(queryString) {
            $.ajax({
                url: "/get-top-transactions"+queryString
            }).done(function(data) {
                $('.top5-transactions').html(data);
            });

            $.ajax({
                url: "/get-top-purchases"+queryString
            }).done(function(data) {
                $('.top5-purchases').html(data);
            });

            $.ajax({
                url: "/get-total-amounts"+queryString
            }).done(function(data) {
                $('.totalAmount').html(data);
            });
        }


        $(function(){
            $('#type').change(function () {
                if(-1 != $(this).val()){
                    refreshData($(this).val());
                }
            });
        });
    </script>
</html>
