<h2>Total amount evolution</h2>
<div id="chartContainer" style="height: 100%; width: 100%;"></div>
<script type="application/javascript">
    $(function(){

        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: ""
            },
            axisY: {
                title: "Amount"
            },
            data: [{
                type: "line",
                dataPoints: {{ data | raw }}
            }]
        });
        chart.render();


    });
</script>